<div [ngClass]="sliderWrapperStyle">
    <button *ngIf="items.length > slidesToShow && index > 0 || items.length > slidesToShow && infinite"
        class="slider-btn-prev">
        <div (click)="slickModal.slickGoTo(index - 1)" [ngClass]="buttonDesign"><i class="material-icons">arrow_back</i>
        </div>
    </button>
    <button *ngIf="items.length > slidesToShow && !isAtEnd || items.length > slidesToShow && infinite"
        class="slider-btn-next">
        <div (click)="slickModal.slickGoTo(index + 1)" [ngClass]="buttonDesign"><i
                class="material-icons">arrow_forward</i></div>
    </button>
    <ngx-slick-carousel class="carousel" (beforeChange)="onBeforeSlide()" (afterChange)="onAfterSlide($event)"
        #slickModal="slick-carousel" [config]="config">
        <div ngxSlickItem *ngFor="let item of items; let i = index" class="relative w-full item"
            [ngClass]="sliderheight">
            <div *ngIf="type === 'image'">
                <div
                [style.opacity]="item.slideOpacity || '0'"
                class="absolute inset-0 bg-black pointer-events-none"
              ></div>
              
              <!-- Image -->
              <img
                [src]="item.url"
                alt="{{ item.title }}"
                class="w-full h-full object-cover object-center bg-black"
              />

                <!-- Overlay text -->
                <div *ngIf="showCaption" class="absolute flex w-full h-full px-4 text-white" [ngClass]="
                getCaptionClasses(item.captionPosition || defaultCaptionPosition)
              ">
                    <div *ngIf="showCaption && i === activeIndex && captionVisible"
                        class="absolute flex w-full h-full px-4 text-white"
                        [ngClass]="getCaptionClasses(item.captionPosition || defaultCaptionPosition)" [@slideUpCaption]="captionState"
                        >
                        <div [ngClass]="item.textAlignment || captionTextAlignment" class="drop-shadow-md">
                            <h5 [ngClass]="item.titleFontClasses ? item.titleFontClasses : 'text-xl font-semibold'">{{
                                item.title | translate }}</h5>
                            <p
                                [ngClass]="item.descriptionFontClasses ? item.descriptionFontClasses : 'text-gray-200 mt-2'">
                                {{ item.description | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="type === 'cards'">
                <app-info-card [image]="item.url" [title]="(item.title | translate)"
                    [description]="(item.description | translate)" [buttonLabel]="'LEARN_MORE_BTN' | translate"
                    [buttonRoute]="item.buttonRoute" [badge]="item.badge" [icon]="item.icon">
                </app-info-card>
            </div>
        </div>
    </ngx-slick-carousel>
</div>