<main class="px-4 py-12 max-w-7xl mx-auto text-center">
    <h1 class="text-4xl font-bold text-gray-900 mb-4">Welcome to Starter App</h1>
    <p class="text-lg text-gray-600 max-w-xl mx-auto">
        Build fast, launch faster. This Angular starter template gives you a clean base to launch beautiful responsive
        websites in minutes.
    </p>
    <div class="mt-10 flex justify-center gap-4">
        <button [style.backgroundColor]=""
            class="bg-blue-600 text-white px-6 py-3 rounded shadow hover:bg-blue-700 transition cursor-pointer">Get
            Started</button>
        <button class="border border-gray-300 px-6 py-3 rounded hover:bg-gray-100 transition cursor-pointer">Learn
            More</button>
    </div>
</main>