<div [ngClass]="sliderWrapperStyle" class="relative">
  <swiper-container #swiper appSwiper [config]="swiperConfig" (swiperslidechange)="slideChange($event)" class="w-full h-full"
    init="false">
    <ng-container *ngFor="let item of items; let i = index">
      <swiper-slide class="relative w-full" [ngClass]="sliderheight">
        <ng-container *ngIf="type === 'image'">
          <div [style.opacity]="item.slideOpacity || '0'" class="absolute inset-0 bg-black pointer-events-none"></div>

          <img [src]="item.url" [alt]="item.title" class="w-full h-full object-cover object-center bg-black" />
          <div *ngIf="showCaption && i === activeIndex && showCaption"
            class="absolute w-full h-full px-4 text-white flex items-center justify-center z-10 top-0"
            [ngClass]="getCaptionClasses(item.captionPosition || defaultCaptionPosition)">
            <div *ngIf="captionVisible" [@slideUpCaption]="captionState" [ngClass]="item.textAlignment || captionTextAlignment"
              class="drop-shadow-md text-center z-20">
              <h5 [ngClass]="item.titleFontClasses || 'text-xl font-semibold'">
                {{ item.title | translate }}
              </h5>
              <p [ngClass]="item.descriptionFontClasses || 'text-gray-200 mt-2'">
                {{ item.description | translate }}
              </p>
            </div>
          </div>

        </ng-container>

        <ng-container *ngIf="type === 'cards'">
          <app-info-card [image]="item.url" [title]="item.title | translate"
            [description]="item.description | translate" [buttonLabel]="'LEARN_MORE_BTN' | translate"
            [buttonRoute]="item.buttonRoute" [badge]="item.badge" [icon]="item.icon"></app-info-card>
        </ng-container>
      </swiper-slide>
    </ng-container>
  </swiper-container>
</div>